html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #2c1d27;
    color: #ffd166;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: fit-content;
    min-height: fit-content;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

a {
    text-decoration: none;
    background-color: #FFD166; /* Warm Yellow */
    color: #2C1D27; /* Dark Text */
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    background-color: #e6b800; /* Slightly darker yellow */
    transform: scale(1.1); /* Subtle hover effect */
}
