@import url('/admin/header.css');

main {
  padding: 20px;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.6em;
  color: var(--clr-primary-a40);
  position: relative;
  padding-bottom: 0.5em;
  margin-top: 25px;
}

h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 3px;
  background-color: var(--clr-primary-a40);
}

h2::after {
  content: attr(data-text);
  position: absolute;
  left: 5px;
  top: -0.8em;
  font-size: 0.6em;
  color: var(--clr-surface-a40);
  letter-spacing: 1px;
}

#games-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#games-section li {
  background-color: var(--clr-surface-a10);
  border: 1px solid var(--clr-surface-a20);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#games-section li strong {
  font-size: 1.2rem;
  color: var(--clr-light-a0);
}

/* Action buttons */
a {
  text-decoration: none;
  background-color: var(--clr-primary-a40);
  color: var(--clr-dark-a0);
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 0.5rem;
  transition: background-color 0.3s, transform 0.2s;
  border: 1px solid var(--clr-primary-a40);
}

a:hover {
  background-color: var(--clr-primary-a30);
  transform: scale(1.05);
  border-color: var(--clr-primary-a30);
}